body{
    background-image: url("../../assets/img/landing-bkg2.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    color: #001e2e !important;
 
}

h1{
    color: #001e2e !important;
}

.btn-callout{
    background-color: #E8FF18 !important;
    border-color: #E8FF18 !important;
    color: #001e2e;  
    box-shadow: 3px 5px #888888
  }