/* Coolors Exported Palette - https://coolors.co/000000-001e2e-5497a7-50858b-f6f6f6 */

/* CSS HEX */
--black: #000000ff;
--rich-black-fogra-29: #001e2eff;
--blue-munsell: #5497a7ff;
--steel-teal: #50858bff;
--cultured: #f6f6f6ff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--rich-black-fogra-29: hsla(201, 100%, 9%, 1);
--blue-munsell: hsla(192, 33%, 49%, 1);
--steel-teal: hsla(186, 27%, 43%, 1);
--cultured: hsla(0, 0%, 96%, 1);

/* SCSS HEX */
$black: #000000ff;
$rich-black-fogra-29: #001e2eff;
$blue-munsell: #5497a7ff;
$steel-teal: #50858bff;
$cultured: #f6f6f6ff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$rich-black-fogra-29: hsla(201, 100%, 9%, 1);
$blue-munsell: hsla(192, 33%, 49%, 1);
$steel-teal: hsla(186, 27%, 43%, 1);
$cultured: hsla(0, 0%, 96%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$rich-black-fogra-29: rgba(0, 30, 46, 1);
$blue-munsell: rgba(84, 151, 167, 1);
$steel-teal: rgba(80, 133, 139, 1);
$cultured: rgba(246, 246, 246, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-right: linear-gradient(90deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-left: linear-gradient(270deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);
$gradient-radial: radial-gradient(#000000ff, #001e2eff, #5497a7ff, #50858bff, #f6f6f6ff);


$mine-shaft: #222222ff;
$daintree: #001e2eff;
$blue-munsell: #5497a7ff;
$steel-teal: #50858bff;
$cultured: #f6f6f6ff;
$goblin: #358446ff; 
$pumpkin-skin: #b3730eff; 
$pomegranate: #f44336ff;

$primary:       $daintree !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $cultured !default;
$dark:          $mine-shaft !default;