name: build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  gradle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
          cache: gradle

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2

      - name: Make gradle executable
        run: chmod +x ./gradlew

      - name: Gradle compile
        run: ./gradlew compileJava

      - name: Gradle test
        run: ./gradlew test
